/********** Fixes **********/


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}




* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


/* Posititoning Classes */

#wrapper {
    width: 500px;
    margin: 0 auto;
}